
.user-account {
  margin: 10px auto 5px auto;
  text-align: center; }
.user-account .user-photo {
    margin: 0 auto;
    border: 5px solid #dfdede; 
   /* border-radius: 50%;
    min-height: 50%;*/
  }
.user-account .user-name {
    display: block;
    margin-top: 12px;
    color: inherit; }
.user-account .user-name:hover, .user-account .user-name:focus {
      text-decoration: none; }
.user-name{
  font-family: Montserrat;
  font-size: 20px;
}

.sb-content ul li {
  list-style-type: none;
} 

.sb-content ul li p{
  font-size: 11px !important;
  padding: 0 !important;
  margin: 0 !important;
}
#create{
 /* position: fixed;*/
    position: absolute;
    /*bottom: 30px;*/
    right: 40px;
    top: 26px;
    /*z-index: 9999;*/
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    background: #FFFFFF;
    color: #444;
    /*box-shadow: 1px 1px 1px #000000;*/
    cursor: pointer;
    border: 1px solid #D5D8DC;
    /*border:0;*/
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s;
    opacity: 1;
}
#create span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#create span:after {
  content: 'create ppmp';
  font-family: Montserrat Thin;
  font-weight: bolder;
  font-size: 14px;
  width: 100px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
#create:hover span {
  padding-right: 100px;
  padding-left: 0px;
  border-radius: 90% !important;
}
#create:hover span:after {
  opacity: 1;
  right: 0;
}
#create:hover{
  width: 200px;
  height: 40px;
  border-radius: 35px;
}
.pill{
  background: transparent;
  border: .5px solid #D5D8DC;
  color: #808B96;
  font-size: 18px;
  margin-left: 10px;
  padding: 12px 20px 12px 20px;
}
.pill:hover{
  color: #808B96;
  border: .5px solid #000;
}
.active2 {
  background: #808B96;
  border: .5px solid #D5D8DC;
  color: white !important;
}
.pill2{
  background: transparent;
  border: .5px solid #D5D8DC;
  color: #808B96;
  font-size: 22px;
  margin-left: 10px;
  padding: 15px 25px 15px 25px;
}
.pill2:hover{
  background-color: #808B96;
  color: #FFFFFF;
}
.detsbody{
  min-width: 1000px;
}
#create2{
 /* position: fixed;*/
    position: absolute;
    /*bottom: 30px;*/
    right: 40px;
    top: 26px;
    /*z-index: 9999;*/
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    background: #FFFFFF;
    color: #444;
    /*box-shadow: 1px 1px 1px #000000;*/
    cursor: pointer;
    border: 1px solid #D5D8DC;
    /*border:0;*/
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s;
    opacity: 1;
}
#create2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#create2 span:after {
  content: 'add an item';
  font-family: Montserrat Thin;
  font-weight: bolder;
  font-size: 14px;
  width: 100px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
#create2:hover span {
  padding-right: 100px;
  padding-left: 0px;
  border-radius: 90% !important;
}
#create2:hover span:after {
  opacity: 1;
  right: 0;
}
#create2:hover{
  width: 200px;
  height: 40px;
  border-radius: 35px;
}


#create3{
 /* position: fixed;*/
    position: absolute;
    /*bottom: 30px;*/
    right: 45px;
    top: 26px;
    /*z-index: 9999;*/
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 34px;
    background: #FFFFFF;
    color: #444;
    /*box-shadow: 1px 1px 1px #000000;*/
    cursor: pointer;
    border: 1px solid #D5D8DC;
    /*border:0;*/
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s;
    opacity: 1;
}
#create3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#create3 span:after {
  content: 'new budget proposal';
  font-family: Montserrat Thin;
  font-weight: bolder;
  font-size: 12px;
  width: 100px;
  position: absolute;
  opacity: 0;
  top: -3px;
  right: -20px;
  transition: 0.3s;
}
#create3:hover span {
  padding-right: 100px;
  padding-left: 0px;
  border-radius: 90% !important;
}
#create3:hover span:after {
  opacity: 1;
  right: 0;
}
#create3:hover{
  width: 200px;
  height: 40px;
  border-radius: 35px;
}


/* TABS (ALL, APPROVED, PENDING, REJECTED)*/
.circle{
    position: absolute;
    right: 40px;
    top: 26px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    background: #FFFFFF;
    color: #444;
    cursor: pointer;
    border: 1px solid #D5D8DC;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s;
    opacity: 1;
}
#all:hover{
  background-color: #5DADE2;
  color: black;
}
#approved:hover{
  background-color: #27AE60;
  color: black;
}
#pending:hover{
  background-color: #F7DC6F;
  color: black;
}
#rejected:hover{
  background-color: #E74C3C;
  color: black;
}
.hide{
  display: none;
}
#createpr{
    position: absolute;
    right: 40px;
    top: 26px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    background: #FFFFFF;
    color: #444;
    cursor: pointer;
    border: 1px solid #D5D8DC;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s;
    opacity: 1;
}
#createpr span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#createpr span:after {
  content: 'create pr';
  font-family: Montserrat Thin;
  font-weight: bolder;
  font-size: 14px;
  width: 100px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
#createpr:hover span {
  padding-right: 90px;
  padding-left: 0px;
  border-radius: 90% !important;
}
#createpr:hover span:after {
  opacity: 1;
  right: 0;
}
#createpr:hover{
  width: 200px;
  height: 40px;
  border-radius: 35px;
}
.line{
  width:0%; 
  padding: 0px;
  border-right:1px solid #99A3A4; 
  height: 40px; 
  margin-top: 9px;
}
.tuplogo{
  width: 60px; 
  height: 60px; 
  position: absolute;
}
.tuptitle{
  font-size:20px; 
  position: relative; 
  margin-left: 23%; 
  margin-top:6px;
}
.tagline{
  font-size: 14px; 
  font-family: Raleway;
  margin-left: 1%;
  line-height: 1px;
  color: #7F8C8D;
  letter-spacing: 2px;
  font-weight: bold;
  display: none;
}
.navline{
  width:0%; 
  padding: 0px;
  border-right:1px solid #99A3A4; 
  height: 20px; 
  margin: 14px 6px 0px 8px;

}
/*.navicons{
    text-align: center;
    background-color: none;
    cursor: pointer;
    border: 1px solid #D5D8DC;
    border-radius: 50px;
    text-decoration: none;
    padding: 12px 28px 12px 13px;
    opacity: 1;
}*/
/*.nav-item{
  margin-left: 5px !important;
}*/

.welcome{
  opacity: 0;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: bolder;
  padding: 0px 5px 5px 5px;
  letter-spacing: 0.15rem;
  transition: all 1.5s ease;
  margin-top: -30px;
}

.welcome.show{
  opacity: 1;
  margin-top: 0px;
}

.cardmod{
  border-radius: 5px !important;
}

.clockbg{
  /*background-image: linear-gradient(to right, #F37335,#FDC830);*/ 
  background-image: linear-gradient(to right, #ef8157,#fbc658);
  color: white; 
  padding: 5px; 
  font-size: 25px;
  border-radius: 5px;
}

.clockbg2{
  /*background-image: linear-gradient(to right, #FDC830,#45B649); */
  background-image: linear-gradient(to right, #fbc658,#6bd098);
  color: white;
  padding: 5px; 
  font-size: 25px;
  border-radius: 5px;
}

.clockbg3{
  /*background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  background-image: linear-gradient(to right, #6bd098,#51bcda);
  color: white;
  padding: 5px; 
  font-size: 25px;
  border-radius: 5px;
}
/*Notification Badge*/
.badge1{
    position:relative;
    background-color: red;
  }
  
.badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    bottom:10px;
    right: -2px;
    font-size:.7em;
    background: red;
    color:white;
    width:14px;height:14px;
    text-align:center;
    line-height:15px;
    border-radius:50%;
    border: none;
  }

/********************/

.smallbox{
  background-color: white;
  padding: 20px;
  width: 155px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px !important;
}
.number{
  text-align: center;
  font-size: 50px;
}
.numtitle{
  font-family: Raleway;
  letter-spacing: 0.10rem;
  font-weight: bold;
  color: #616A6B;
}
.mediumbox{
  background-color: white;
  padding: 40px;
  height: 200px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px !important;
  position: relative;
}
.ppmpicon{
  opacity: 1;
  transition: all 1.5s cubic-bezier(.47,1.64,.41,.8);
}
.ppmpiconshow{
  opacity: 1;
  transform: scale(1.5);
}
.ppmptitle{
  position: relative; 
  font-size: 12px; 
  font-family: Raleway;
  margin-top: 30px;
}
.progresstext1{
  position:absolute; 
/*  margin: 95px 0px 0px 50px;*/
  margin: 65% 0% 0% 14%;
  padding-bottom: 100px;
  font-family: Raleway;
  font-size: 13px;
  letter-spacing: 0.14rem;
  text-align: center;
}

.progresstext2{
  position:absolute; 
  margin: 65% 0% 0% 15%;
  padding-bottom: 10px;
  font-family: Raleway;
  font-size: 13px;
  letter-spacing: 0.14rem;
  text-align: center;
}

.progresstext3{
  position:absolute; 
  margin: 65% 0% 0% 15%;
  padding-bottom: 10px;
  font-family: Raleway;
  font-size: 13px;
  letter-spacing: 0.14rem;
  text-align: center;
}

/******CHARTIST******/
/*.ct-chart-line .ct-grid {
  stroke-dasharray: none;
}*/


/****** PULSATING ******/
/*.ct-chart-line .ct-line{
  stroke-width: 3px;
}

.ct-chart-line .ct-point{
  cursor: pointer;
  -webkit-animation:bouncing-stroke .5s ease infinite;
  -moz-animation:bouncing-stroke .5s ease infinite;
  -o-animation:bouncing-stroke .5s ease infinite; 
  animation:bouncing-stroke .5s ease infinite
}

@-webkit-keyframes bouncing-stroke{
  0%,100%{stroke-width:10px}
  50%{stroke-width:15px}
}

@-moz-keyframes bouncing-stroke{
  0%,100%{stroke-width:10px}
  50%{stroke-width:15px}
}

@-ms-keyframes bouncing-stroke{
  0%,100%{stroke-width:5px}
  50%{stroke-width:10px}
}

@keyframes bouncing-stroke{
  0%,100%{stroke-width:10px}
  50%{stroke-width:15px}
}*/


/****** RUNNING LINE ******/
.ct-chart-line .ct-point{
  stroke-width: 13px;
  cursor: pointer;
}

 .ct-chart-line .ct-line{
  fill:none;
  stroke-width:4px;
  stroke-dasharray:5px;
  -webkit-animation:dashoffset 1s linear infinite;
  -moz-animation:dashoffset 1s linear infinite;
  -o-animation:dashoffset 1s linear infinite;
  animation:dashoffset 1s linear infinite
}

@-webkit-keyframes dashoffset{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-20px}
}

@-moz-keyframes dashoffset{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-20px}
}

@-ms-keyframes dashoffset{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-20px}
}

@keyframes dashoffset{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-20px}
}


/****** FADING POINT + DASHED LINE ******/
/*.ct-chart-line .ct-point{
  -webkit-animation:exploding-stroke 1s ease-out infinite;
  -moz-animation:exploding-stroke 1s ease-out infinite;
  -o-animation:exploding-stroke 1s ease-out infinite;
  animation:exploding-stroke 1s ease-out infinite
}

.ct-chart-line .ct-line{
  fill:none;
  stroke-width:2px;
  stroke-dasharray:40px 3px
}

@-webkit-keyframes exploding-stroke{
  0%{stroke-width:2px;opacity:1}
  100%{stroke-width:20px;opacity:0}
}

@-moz-keyframes exploding-stroke{
  0%{stroke-width:2px;opacity:1}
  100%{stroke-width:20px;opacity:0}
}

@-ms-keyframes exploding-stroke{
  0%{stroke-width:2px;opacity:1}
  100%{stroke-width:20px;opacity:0}
}
@keyframes exploding-stroke{
  0%{stroke-width:2px;opacity:1}
  100%{stroke-width:20px;opacity:0}
}*/


/*******END OF CHARTIST******/


.ct-chart-bar .ct-bar{
  stroke-dasharray: 5px;
  stroke-width: 20;
}

.bargraph{
  width: 80%;
  height: 420px;
  padding: 20px;
}

.legend-name{
  margin-right: 20px;
}

.ct-square {
  width: 500px;
  height: 300px;
}

.ct-square:before{
  padding-bottom: 0% !important;
}

.ct-chart-pie .ct-series-a .ct-slice-pie {
  fill: #51cbce;
}

.ct-chart-pie .ct-series-b .ct-slice-pie {
  fill: #F4D03F;
}

.ct-chart-pie .ct-series-b .ct-slice-pie {
  fill: #ef8157;
}

.ct-chart-pie .ct-label{
  font-family: Raleway;
  font-size: 28px;
  color: #FFFFFF;
}

.updates{
  height: 435px;
}

.activity{
  border-radius: 3px;
  width: 100%;
  height: 50px;
  opacity: 0.4;
  padding: 3px;
  margin-top: 20px;
}

.activitybg1{
  background-color: #51cbce;
}

.activitybg2{
  background-color: #fbc658;
}

.activitybg3{
  background-color: #ef8157;
}

.activitybg4{
  background-color: #6bd098;
}

#activities{
  padding: 8px;
}

/********* SCROLLBAR ********/
.sidebar-wrapper{
  overflow: hidden !important;
}

.sidebar-wrapper:hover{
  overflow-y: auto !important;
}

.sidebar{
  display: flex !important;
  flex-direction: column;
}

.sidebar-wrapper::-webkit-scrollbar {
  width: .7em; 
}

/*.sidebar-wrapper::-webkit-scrollbar-track {
  background: #f4f3ef;
}*/

.sidebar-wrapper::-webkit-scrollbar,
.sidebar-wrapper::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.sidebar-wrapper::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}


.profile-body{
  z-index: 1 !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.author{
  padding-top: -130px !important;
  margin-top: -130px !important;
}

/*.description{ 
  padding-left: 20px;
  font-size: 14px !important;
}

.description > span {
  color: #424949;
  text-transform: capitalize;
}*/

.card-user > .image{
  height: 200px !important;
  margin-bottom: 0px;
}

 .edit-profile {
  min-height: 170px !important;
  }
