@font-face {
font-family: Quicksand;
src: url(../fonts/Quicksand-Bold.otf);
}

@font-face {
font-family: Montserrat;
src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
font-family: Raleway;
src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
font-family: Montserrat ExtraLight;
src: url(../fonts/Montserrat-ExtraLight.otf);
}

@font-face {
font-family: Montserrat Thin;
src: url(../fonts/Montserrat-Thin.otf);
}